@keyframes headerSlide {
    0% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes labelSlide {
    0% {
        transform: translateY(-100%);
        display: none;
    }

    100% {
        transform: translateY(0);
        display: block;
    }
}

@keyframes titleSkew {
    from {
        width: 5.35%;
        height: 1.15%;
    }

    to {
        width: 101%;
        height: 38%;
    }
}




@keyframes showItem {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(6);
    }
}

@keyframes teashow {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes showElement {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes hideElement {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}


//////////////////////// mixins & classes
@mixin emergence {
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.5s linear transform;
    visibility: visible;
}



.out {
    animation: hideElement 0.3s linear forwards;
    animation-duration: 0.3s;
}